.c1{
    font-size: 2rem;
}
.c2{
    font-size: 3rem;
}

.my_div{
    font-size: 2rem;
}

.c3{
    font-size: 1em;
}

.percent_cls{
    width: 400px;
    height: 250px;
    border: 1px solid #FF0000;
}
.c4{
    width: 100%;
    background-color: #00FF00;
}
.c5{
    width: 50vw;
    background-color: rgb(119, 8, 8);
}
