h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 700;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 700;
    
}
body{
    
    background-color: aqua;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

    


    
